.todo-input-container {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
}
.todo-input-container > div {
  display: flex;
  -webkit-display: flex-box;
}
.todo-input-container > div:nth-of-type(1) {
  width: 85%;
}

.todo-input {
  background-color: #ecf0f1;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #bdc3c7;
  border-radius: 0.3em;
  width: 100%;
}

.todo-button {
  background-color: #2ecc71;
  color: #fff;
  padding: 5px 15px;
  border: 0;
  outline: 0;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s all;
}

.todo-button:hover {
  transform: scale(0.9);
  transition: 0.3s all;
}
